
.header {
  padding: 38px 71px 0 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.bottom-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-nav {
  font-family: "FuturaPTBold";
  font-size: 13px;
  letter-spacing: .34em;
  text-transform: uppercase;
  line-height: 1em;
  padding: 3px 10px;
}

.header-nav-item {
  color: #fefbf0;
  margin: 0 1.14em;
  padding: .618em 0;
}

.header-branding {
  display: flex;
  padding: 3px 10px;
}

.header-branding-logo {
  max-width: 142px;
}
