body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 1.4em;
  color: rgba(78,59,44,.65);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
